<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
</head>
<body>
<!--Radio button-->
    <p>Please select your gender here</p>
   <form>
    <input type="radio" id="male" name="gender" value="Male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="gender" value="Female">
    <label for="female">Female</label><br>

<!--Check button-->
<p>Select the months in which you visited our shop</p>
    <input type="checkbox" id="january" name="month" value="January">
    <label for="january"> January</label><br>
    <input type="checkbox" id="february" name="month" value="February">
    <label for="february"> February</label><br>
    <input type="checkbox" id="march" name="month" value="March">
    <label for="march"> March</label>
    <input type="checkbox" id="april" name="month" value="April">
    <label for="april"> April</label><br>

    <!---->

    <button type="button">Submit</button>
   
   </form> 
</body>
</html>