<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
</head>
<body>
    <form>
<!--Radio button-->
<p>Please select your gender here</p>
    <input type="radio" id="male" name="gender" value="Male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="gender" value="Female">
    <label for="female">Female</label><br>



<!--Check button-->
<p>Select the months in which you visited our shop</p>
    <input type="checkbox" id="january" name="month" value="January">
    <label for="january"> January</label><br>
    <input type="checkbox" id="february" name="month" value="February">
    <label for="february"> February</label><br>
    <input type="checkbox" id="march" name="month" value="March">
    <label for="march"> March</label><br>
    <input type="checkbox" id="april" name="month" value="April">
    <label for="april"> April</label><br>
    <input type="checkbox" id="may" name="month" value="May">
    <label for="may"> May</label><br>
    <input type="checkbox" id="june" name="month" value="June">
    <label for="june"> June</label><br>
    <input type="checkbox" id="july" name="month" value="July">
    <label for="juy"> Juy</label><br>
    <input type="checkbox" id="august" name="month" value="August">
    <label for="august"> August</label><br>
    <input type="checkbox" id="september" name="month" value="September">
    <label for="september"> September</label><br>
    <input type="checkbox" id="october" name="month" value="October">
    <label for="october"> October</label><br>
    <input type="checkbox" id="november" name="month" value="November">
    <label for="november"> November</label><br>
    <input type="checkbox" id="december" name="month" value="December">
    <label for="december"> December</label><br>



<!--Another Radio button-->
<p>Please rate your experience:</p>
    <input type="radio" id="very_satisfied" name="experience" value="4">
    <label for="very_satisfied">Very Satisfied</label>
    <input type="radio" id="satisfied" name="experience" value="3">
    <label for="satisfied">Satisfied</label>
    <input type="radio" id="unsatisfied" name="experience" value="2">
    <label for="unsatisfied">Unsatisfied</label>
    <input type="radio" id="very_unsatisfied" name="experience" value="1">
    <label for="very_unsatisfied">Very Unsatisfied</label><br>




    <button type="button">Submit</button>

   
   </form> 
</body>
</html>